# Prep

## Imports

In [1]:
import pandas as pd

## Paths

In [2]:
linked_ = '../data/processed/gmm_to_gff_testing_filterPSL_100bp_local/get_nearest_k_features/MS.linked.snps_in_features.xls'
orig_ = '../data/processed/gmm_to_gff_testing_filterPSL_100bp_local/get_nearest_k_features/MS.original.snps_in_features.xls'

## Constants

In [3]:
distance = 5000

## Functions

In [4]:
def filter_by_distance(df, d=5000):
    return df.query(""" abs(distance) <= {d} """.format(d=d))

def set_comparison_table(a, b, a_name=None, b_name=None):
    a = set(a)
    b = set(b)
    
    data = [pd.Series((sorted(list(a & b))),name='{a} AND {b}'.format(a=a_name,b=b_name)),
            pd.Series((sorted(list(a - b))),name='{a} NOT {b}'.format(a=a_name,b=b_name)),
            pd.Series((sorted(list(b - a))),name='{b} NOT {a}'.format(a=a_name,b=b_name)),
            pd.Series((sorted(list(a | b))),name='{a} OR {b}'.format(a=a_name,b=b_name)),
            pd.Series((sorted(list(a ^ b))),name='one OR other NOT both'),]
    
    df = pd.DataFrame(data).T
    counts = pd.DataFrame(df.count(),columns=['count'])
    
    return {'genes':df, 'counts':counts}

## Loading

In [5]:
linked = pd.read_excel(linked_)
orig = pd.read_excel(orig_)

In [6]:
linked.head()

,SNP_chrom,SNP_start,SNP_end,feature_set_name,chrom,chromStart,chromEnd,name,score,strand,thickStart,thickEnd,itemRgb,blockCount,blockSizes,blockStarts,distance
0,Scaffold10,1586111,1586112,novel_mapped_tx,Scaffold10,1513751,1543760,TCONS_00082660,0,-,1425420,1543760,"0,0,0",30,"57,139,19,176,18,43,128,93,260,151,130,666,27,...","1425420,1425481,1425642,1425733,1425940,142595...",-42352
1,Scaffold10,1586111,1586112,novel_mapped_tx,Scaffold10,1513751,1543642,TCONS_00082661,0,-,1425420,1543642,"0,0,0",26,"57,139,19,176,18,43,128,93,260,151,130,666,27,...","1425420,1425481,1425642,1425733,1425940,142595...",-42470
2,Scaffold10,1586111,1586112,novel_mapped_tx,Scaffold10,1513751,1543455,TCONS_00082667,0,-,1425420,1543455,"0,0,0",29,"57,139,19,176,18,43,128,93,260,151,130,666,27,...","1425420,1425481,1425642,1425733,1425940,142595...",-42657
3,Scaffold10,1586111,1586112,novel_mapped_tx,Scaffold10,1513751,1543452,TCONS_00082662,0,-,1425420,1543452,"0,0,0",23,"57,139,19,176,18,43,128,93,260,151,130,666,27,...","1425420,1425481,1425642,1425733,1425940,142595...",-42660
4,Scaffold10,1586111,1586112,novel_mapped_tx,Scaffold10,1513751,1543452,TCONS_00082663,0,-,1425420,1543452,"0,0,0",27,"57,139,19,176,18,43,128,93,260,151,130,666,27,...","1425420,1425481,1425642,1425733,1425940,142595...",-42660

In [7]:
orig.head()

,SNP_chrom,SNP_start,SNP_end,feature_set_name,chrom,chromStart,chromEnd,name,score,strand,thickStart,thickEnd,itemRgb,blockCount,blockSizes,blockStarts,distance
0,Scaffold1,2366098,2366099,novel_mapped_tx,Scaffold1,2365004,2365581,TCONS_00071717,0,-,2365004,2365581,"0,0,0",11,"55,21,49,21,48,55,4,153,13,5,115,","2365004,2365062,2365083,2365134,2365161,236521...",-518
1,Scaffold1,2366098,2366099,novel_mapped_tx,Scaffold1,2371177,2371335,TCONS_00071714,0,-,2371177,2371335,"0,0,0",4,"41,27,10,78,","2371177,2371219,2371246,2371257,",5079
2,Scaffold1,2366098,2366099,novel_mapped_tx,Scaffold1,2428670,2428863,TCONS_00071722,0,+,2428670,2450038,"0,0,0",34,"94,17,110,128,154,143,4,312,145,260,133,350,15...","2428670,2428770,2430803,2430997,2441830,244206...",62572
3,Scaffold1,2366098,2366099,novel_mapped_tx,Scaffold1,2432289,2441328,TCONS_00071722,0,+,2428670,2450038,"0,0,0",34,"94,17,110,128,154,143,4,312,145,260,133,350,15...","2428670,2428770,2430803,2430997,2441830,244206...",66191
4,Scaffold1,2366098,2366099,novel_mapped_tx,Scaffold1,2453906,2472350,TCONS_00036328,0,-,2453906,2481291,"0,0,0",31,"68,91,10,72,35,5,12,38,90,6,6,14,5,4,10,74,4,8...","2453906,2453975,2454068,2454083,2454158,245419...",87808

## Cleaning

In [8]:
linked_wk = filter_by_distance(df=linked, d=distance)
orig_wk = filter_by_distance(df=orig, d=distance)

In [9]:
linked_wk.shape

(61, 17)

In [10]:
orig_wk.shape

(28, 17)

# Comparisons

In [11]:
# get sets of gene names to compare

linked_wk_official_genes = set(linked_wk.query(""" feature_set_name == 'official_annotations' """).name)
linked_wk_novel_tx = set(linked_wk.query(""" feature_set_name == 'novel_mapped_tx' """).name)

orig_wk_official_genes = set(orig_wk.query(""" feature_set_name == 'official_annotations' """).name)
orig_wk_novel_tx = set(orig_wk.query(""" feature_set_name == 'novel_mapped_tx' """).name)

## Official Genes

In [12]:
official = set_comparison_table(a=linked_wk_official_genes, 
                                b=orig_wk_official_genes,
                                a_name="linked", 
                                b_name="original")

In [13]:
official['counts']

                       count
linked AND original        0
linked NOT original       22
original NOT linked       17
linked OR original        39
one OR other NOT both     39

In [14]:
official['genes']

,linked AND original,linked NOT original,original NOT linked,linked OR original,one OR other NOT both
0,NaN,GFUI002233,GFUI002104,GFUI002104,GFUI002104
1,NaN,GFUI002250,GFUI002120,GFUI002120,GFUI002120
2,NaN,GFUI002252,GFUI014494,GFUI002233,GFUI002233
3,NaN,GFUI002256,GFUI016866,GFUI002250,GFUI002250
4,NaN,GFUI003051,GFUI020790,GFUI002252,GFUI002252
5,NaN,GFUI003053,GFUI020792,GFUI002256,GFUI002256
6,NaN,GFUI007952,GFUI020794,GFUI003051,GFUI003051
7,NaN,GFUI009421,GFUI020797,GFUI003053,GFUI003053
8,NaN,GFUI011175,GFUI020800,GFUI007952,GFUI007952
9,NaN,GFUI011180,GFUI023751,GFUI009421,GFUI009421
10,NaN,GFUI012390,GFUI033037,GFUI011175,GFUI011175
11,NaN,GFUI019498,GFUI043025,GFUI011180,GFUI011180
12,NaN,GFUI023675,GFUI043027,GFUI012390,GFUI012390
13,NaN,GFUI026464,GFUI043057,GFUI014494,GFUI014494
14,NaN,GFUI031364,GFUI043067,GFUI016866,GFUI016866
15,NaN,GFUI041241,GFUI043720,GFUI019498,GFUI019498
16,NaN,GFUI043916,GFUI053401,GFUI020790,GFUI020790
17,NaN,GFUI052237,NaN,GFUI020792,GFUI020792
18,NaN,GFUI052240,NaN,GFUI020794,GFUI020794
19,NaN,GFUI052243,NaN,GFUI020797,GFUI020797
20,NaN,GFUI052713,NaN,GFUI020800,GFUI020800
21,NaN,GFUI053502,NaN,GFUI023675,GFUI023675
22,NaN,NaN,NaN,GFUI023751,GFUI023751
23,NaN,NaN,NaN,GFUI026464,GFUI026464
24,NaN,NaN,NaN,GFUI031364,GFUI031364
25,NaN,NaN,NaN,GFUI033037,GFUI033037
26,NaN,NaN,NaN,GFUI041241,GFUI041241
27,NaN,NaN,NaN,GFUI043025,GFUI043025
28,NaN,NaN,NaN,GFUI043027,GFUI043027
29,NaN,NaN,NaN,GFUI043057,GFUI043057
30,NaN,NaN,NaN,GFUI043067,GFUI043067
31,NaN,NaN,NaN,GFUI043720,GFUI043720
32,NaN,NaN,NaN,GFUI043916,GFUI043916
33,NaN,NaN,NaN,GFUI052237,GFUI052237
34,NaN,NaN,NaN,GFUI052240,GFUI052240
35,NaN,NaN,NaN,GFUI052243,GFUI052243
36,NaN,NaN,NaN,GFUI052713,GFUI052713
37,NaN,NaN,NaN,GFUI053401,GFUI053401
38,NaN,NaN,NaN,GFUI053502,GFUI053502

## Novel Tx

In [15]:
novel = set_comparison_table(a=linked_wk_novel_tx, 
                             b=orig_wk_novel_tx,
                             a_name="linked", 
                             b_name="original")

In [16]:
novel['counts']

                       count
linked AND original        0
linked NOT original       32
original NOT linked       10
linked OR original        42
one OR other NOT both     42

In [17]:
novel['genes']

,linked AND original,linked NOT original,original NOT linked,linked OR original,one OR other NOT both
0,NaN,TCONS_00023519,TCONS_00024646,TCONS_00023519,TCONS_00023519
1,NaN,TCONS_00037543,TCONS_00041812,TCONS_00024646,TCONS_00024646
2,NaN,TCONS_00037545,TCONS_00041813,TCONS_00037543,TCONS_00037543
3,NaN,TCONS_00039298,TCONS_00053177,TCONS_00037545,TCONS_00037545
4,NaN,TCONS_00039299,TCONS_00054066,TCONS_00039298,TCONS_00039298
5,NaN,TCONS_00039300,TCONS_00054080,TCONS_00039299,TCONS_00039299
6,NaN,TCONS_00039301,TCONS_00054081,TCONS_00039300,TCONS_00039300
7,NaN,TCONS_00039303,TCONS_00054082,TCONS_00039301,TCONS_00039301
8,NaN,TCONS_00067903,TCONS_00067396,TCONS_00039303,TCONS_00039303
9,NaN,TCONS_00067904,TCONS_00071717,TCONS_00041812,TCONS_00041812
10,NaN,TCONS_00067905,NaN,TCONS_00041813,TCONS_00041813
11,NaN,TCONS_00067906,NaN,TCONS_00053177,TCONS_00053177
12,NaN,TCONS_00067907,NaN,TCONS_00054066,TCONS_00054066
13,NaN,TCONS_00067908,NaN,TCONS_00054080,TCONS_00054080
14,NaN,TCONS_00067909,NaN,TCONS_00054081,TCONS_00054081
15,NaN,TCONS_00067910,NaN,TCONS_00054082,TCONS_00054082
16,NaN,TCONS_00067911,NaN,TCONS_00067396,TCONS_00067396
17,NaN,TCONS_00067912,NaN,TCONS_00067903,TCONS_00067903
18,NaN,TCONS_00068939,NaN,TCONS_00067904,TCONS_00067904
19,NaN,TCONS_00068940,NaN,TCONS_00067905,TCONS_00067905
20,NaN,TCONS_00075476,NaN,TCONS_00067906,TCONS_00067906
21,NaN,TCONS_00075477,NaN,TCONS_00067907,TCONS_00067907
22,NaN,TCONS_00075478,NaN,TCONS_00067908,TCONS_00067908
23,NaN,TCONS_00075479,NaN,TCONS_00067909,TCONS_00067909
24,NaN,TCONS_00075480,NaN,TCONS_00067910,TCONS_00067910
25,NaN,TCONS_00075481,NaN,TCONS_00067911,TCONS_00067911
26,NaN,TCONS_00075484,NaN,TCONS_00067912,TCONS_00067912
27,NaN,TCONS_00075485,NaN,TCONS_00068939,TCONS_00068939
28,NaN,TCONS_00075486,NaN,TCONS_00068940,TCONS_00068940
29,NaN,TCONS_00075487,NaN,TCONS_00071717,TCONS_00071717
30,NaN,TCONS_00075488,NaN,TCONS_00075476,TCONS_00075476
31,NaN,TCONS_00075489,NaN,TCONS_00075477,TCONS_00075477
32,NaN,NaN,NaN,TCONS_00075478,TCONS_00075478
33,NaN,NaN,NaN,TCONS_00075479,TCONS_00075479
34,NaN,NaN,NaN,TCONS_00075480,TCONS_00075480
35,NaN,NaN,NaN,TCONS_00075481,TCONS_00075481
36,NaN,NaN,NaN,TCONS_00075484,TCONS_00075484
37,NaN,NaN,NaN,TCONS_00075485,TCONS_00075485
38,NaN,NaN,NaN,TCONS_00075486,TCONS_00075486
39,NaN,NaN,NaN,TCONS_00075487,TCONS_00075487
40,NaN,NaN,NaN,TCONS_00075488,TCONS_00075488
41,NaN,NaN,NaN,TCONS_00075489,TCONS_00075489